.section6{
    display:flex;
    width:100%;
    height:fit-content;
    margin:0;
    background-image: url("../../images/forSection6/frame3.png");
    background-size: cover;
    background-color: #022634;
}

.section6 .sec6pt1{
    display: flex;
    flex-direction: column;
    margin:60px 0 auto 15px;
}

.section6 .sec6pt1 img:nth-child(1){
    width:90px;
    height:90px;
    margin:0 auto 0 90px;
}

.section6 .sec6pt1 img:nth-child(2){
    width: 400px;
    height: auto;
    margin:50px 0 0 40px;
}

.section6 .sec6pt2{
    display: flex;
    flex-direction: column;
    margin:80px 0 auto 0;
}

.section6 .sec6pt2 .heading{
    font:40px epilogue-bold;
    margin:0 auto;
    color:white;
    letter-spacing: 1.1px;
}

.section6 .sec6pt2 .desc{
    font:16px epilogue-reg;
    color:white;
    margin:60px auto 0 auto;
    text-align: center;
    max-width: 650px;
    letter-spacing: 1.2px;
}

.section6 .sec6pt2 .box{
    display: flex;
    margin:100px auto auto auto;
}

.section6 .sec6pt2 .box div{
    display: flex;
    flex-direction: column;
    margin:0;
}

.section6 .sec6pt2 .box div p:nth-child(1){
    font:42px epilogue-bold;
    color:white;
    margin:0 auto;
}

.section6 .sec6pt2 .box div p:nth-child(2){
    font:14px epilogue-reg;
    color:#0DD171;
    margin:15px auto 0 auto;
}

.section6 .sec6pt3{
    width:220px;
    height:220px;
    margin:auto 100px 80px auto;
}