.greenbutton{
    display: flex;
    font:12px geist-bold;
    letter-spacing: 1.5px;
    padding: 10px 25px;
    border-radius: 50px;
    margin: auto 0 auto 20px;
    background-color: #00202C;
    text-decoration: none;
    cursor: pointer;
}