.greenbutton{
    display: flex;
    font:0.79vw geist-bold;
    letter-spacing: 0.1vw;
    padding: 0.66vw 1.64vw;
    border-radius: 3.29vw;
    margin: auto 0 auto 1.31vw;
    background-color: #00202C;
    text-decoration: none;
    cursor: pointer;
}


.greenbutton:hover{background-color: #074052;}