.section2{
    display: flex;
    width: 100%;
    margin: 0;
    background-image: url("../../../images/forSection2/Frame.png");
    height: 430px;
    background-repeat: no-repeat;
    background-size: cover;
}

.section2 .adcard{
    margin:auto 145px 50px auto;
    width: 422px;
    height: 309px;
}